@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&600&900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

:root {
	--dark-color: rgb(28, 23, 11);
	--green-accent: rgb(110, 154, 80);
	--green-glass: rgba(110, 154, 80, 0.5);
	--light-color: rgb(180, 144, 104);
	--gray-color: rgb(124, 129, 133);
	--dark-glass: rgba(0, 0, 0, 0.4);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", "sans-serif";
	color: var(--dark-color);
	line-height: 1.6;
	background-image: linear-gradient(
		to right bottom,
		#4f7237,
		#55793c,
		#5a8140,
		#608845,
		#66904a,
		#68944a,
		#699949,
		#6b9d49,
		#689f44,
		#66a13e,
		#63a238,
		#60a431
	);
}

a {
	text-decoration: none;
}

.intro {
	position: relative;
	color: var(--light-color);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("images/pexels-plato-terentev-5920430.jpg");
	padding: 50px;
	background-position: center;
	background-size: cover;
}

.intro > header > * {
	text-align: center;
	line-height: 1.3;
}

h1,
h2,
h3,
h4 {
	font-family: "Montserrat";
}

header > h1 {
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
	font-size: 4em;
}

header > h2 {
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
	color: var(--green-accent);
	font-size: 2em;
}

header {
	padding: 20px 0px;
}

.summary {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	margin: 100px 0px;
}

.summary > :nth-child(1) {
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	margin: 0 auto;
	font-size: 2.4em;
	line-height: 1.4;
	max-width: 100%;
	text-align: center;
	font-family: "Dancing Script", cursive;
	padding: 0 25vw;
	overflow: visible;
}
.summary > :nth-child(1)::before {
	content: '"';
}

.summary > :nth-child(1)::after {
	content: '" by Vlad Mititelu';
}

.summary > :nth-child(2) {
	cursor: default;
	display: block;
	position: absolute;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	max-width: 200px;
	padding: 15px 10px;
	right: 0;
	top: 0;
	background-color: var(--dark-glass);
	backdrop-filter: blur(2px);
	border-left: 1px solid var(--green-glass);
	transition: 1.5s;
	font-weight: 600;
	font-size: 0.8em;
}

.summary > :nth-child(2) > a {
	color: var(--green-accent);
}

.summary > :nth-child(2) > a:hover {
	color: var(--green-glass);
}

.preamble {
	padding-top: 60px;
	display: grid;
	gap: 50px;
	justify-content: center;
	align-content: center;
	grid-template-areas:
		"title title"
		"first second"
		"third third";
	margin: 0 15vw;
	/* "title title title"
		"first second third"; */
}

.preamble > h3 {
	border-bottom: 3px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(
		to right,
		var(--light-color),
		rgba(180, 144, 104, 0.1)
	);
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
	color: var(--green-accent);
	grid-area: title;
	text-align: center;
	justify-self: center;
	font-size: 2.4em;
	max-width: 250px;
}

.preamble > p {
	text-align: center;
	font-weight: 600;
	background-color: var(--dark-glass);
	padding: 20px;
	border: 1px solid;
}

.preamble > p:nth-of-type(1) {
	grid-area: first;
	border-image-slice: 1;
	border-image-source: linear-gradient(
		to right,
		rgba(180, 144, 104, 0.9),
		rgba(180, 144, 104, 0.1)
	);
}
.preamble > p:nth-of-type(2) {
	grid-area: second;
	border-image-slice: 1;
	border-image-source: linear-gradient(
		to left,
		rgba(180, 144, 104, 0.9),
		rgba(180, 144, 104, 0.1)
	);
}
.preamble > p:nth-of-type(3) {
	grid-area: third;
	border-image-slice: 1;
	border-image-source: linear-gradient(
		to bottom,
		rgba(180, 144, 104, 0.9),
		rgba(180, 144, 104, 0.1)
	);
}

.page-wrapper > :not(.intro) {
	display: none;
}

@media (max-width: 700px) {
	header > h1 {
		font-size: 3em;
	}

	header > h2 {
		font-size: 1em;
	}

	.preamble {
		gap: 30px;
		grid-template-areas:
			"title"
			"first"
			"second"
			"third";
	}

	.preamble > h3 {
		font-size: 2em;
	}

	.summary > :nth-child(1) {
		font-size: 1.5em;
	}
}

@media (max-width: 1000px) {
	.summary > :nth-child(1) {
		padding: 0 15vw;
	}
}
